<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networkconfig"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="499064640741937" />

        <activity android:name=".activity.DashBoardActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.CategoryActivity" />
        <activity android:name=".activity.OrderHistoryActivity" />

        <activity android:name=".activity.CategoryProductsActivity" />


        <activity android:name=".activity.ProductDescriptionActivity" />
        <activity android:name=".activity.LoginHistoryActivity" />
        <activity android:name=".activity.RatingActivity" />
        <activity android:name=".activity.ProductDetailsOnSearchActivity" />
        <activity android:name=".activity.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.SignupActivity"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".activity.FbActivity"
            android:parentActivityName=".activity.LoginActivity" />
    </application>

</manifest>